# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

.release/
.idea/
.vscode/
.vs/
.temp/
build/
libs/
test/

bin/*.exe
bin/*.log
bin/*.ilk
bin/*.dll
bin/*.iobj
bin/*.ipdb
bin/*.pdb

bin/TaharezLook.looknfeel
