[submodule "deps/drakhtar-i18n"]
	path = deps/drakhtar-i18n
	url = git@github.com:kyranet/drakhtar-i18n.git
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "deps/bullet"]
	path = deps/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "deps/cegui"]
	path = deps/cegui
	url = git@github.com:cegui/cegui.git
[submodule "deps/cegui-dependencies"]
	path = deps/cegui-dependencies
	url = git@github.com:cegui/cegui-dependencies.git
[submodule "deps/ogre"]
	path = deps/ogre
	url = git@github.com:OGRECave/ogre.git
